#kategoria {
  padding: 0px 0px 10px 0px;
  /*width: calc(25% - 30px);*/
  -webkit-box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 1px 4px 9px 0px rgba(0, 0, 0, 0.73);
}

#kategoria div {
  padding-left: 15px;
}

#kategoria div input {
  margin-bottom: 15px;
}

#kategoria div label {
  cursor: pointer;
}

#tartalom {
  padding-left: 5px;
}

#kategoria div label {
  cursor: pointer;
}

#tartalom div {
  padding: 0px 15px;
}

header span,
header h1,
header h2 {
  display: inline;
}

header span img,
a span img {
  width: 25px;
  position: relative;
  top: 3px;
}

a span img {
  top: 7px;
  margin-right: 10px;
}

#table-content {
  height: 410px;
  overflow-y: auto;
}

table.frontend-table tr,
table.frontend-table th,
table.frontend-table td {
  padding: 10px;
  border: 1px solid grey;
}

table.frontend-table th {
  background-color: #c0c0c0;
}

table.frontend-table tr:nth-child(2n + 1) {
  background-color: #faebd7;
}

table.detail_table {
  padding: 10px;
}

.detail_table td {
  padding: 0 15px;
}

#detail-view {
  margin-top: 30px;
}

header {
  background-color: #dcdcdc;
  padding: 5px;
  border: 1px solid #f5f5f5;
}

.msg {
  margin: 20px 50px;
  width: 90%;
  line-height: 50px;
}

.error_msg {
  background-color: red;
  color: white;
  font-weight: bold;
}

.rejtett div,
.rejtett header {
  display: none;
}

.rejtett {
  height: 300px;
  border: 1px solid #c0c0c0;
  width: 0px;
}

.megse {
  display: none;
}

.book-row {
  cursor: pointer;
}

.book-img {
  width: 100px;
  margin-right: 20px;
}

/* mobil nézet*/
@media only screen and (max-width: 768px) {
  #tartalom {
    padding-left: 0px;
    width: 100%;
    padding-top: 10px;
  }

  #tartalom div {
    overflow-y: auto;
    height: 300px;
  }
}

.openedMenu {
  width: calc(83.4% - 7px);
}

.closedMenu {
  width: calc(100% - 7px);
}
